Hi ยินต้อนรับ springboot-playground<br/>
by nengboonchai<br/>
<ul>
    <li>springboot-hello world</li>
    <li>การติดตั้ง h2 database</li>
    <li>cors ( https://www.baeldung.com/spring-cors )</li>
    <li>springboot crud member table</li>
    <li>springboot admin</li>
    <li>install swagger( http://localhost:8080/v3/api-docs , http://localhost:8080/swagger-ui/index.html#/ ) ref:https://www.baeldung.com/spring-rest-openapi-documentation</li>
    <li>spring actualtor</li>
    <li>Rest template </li>
    <li>Logging ( https://www.tutorialspoint.com/spring_boot/spring_boot_logging.htm )</li>
</ul>